#fonts {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  /* line properties */

  line-height: 1.6em;
}

#colors {
  color: aquamarine;
  color: rgb(0, 255, 0);
  color: rgba(255, 0, 0, 0.5);
  color: #f0f000;
}
