#box-1 {
  background-color: burlywood;
  border: red 2px solid;
  border: 3px dotted blue;

  border-width: 4px;
  border-radius: 20px;
  border-style: dashed;
  border-color: yellow;
}
/* notice order can be anything  when writting the shorthand notation which is advantage that we dont remember*/

#box-1 h1 {
  writing-mode: vertical-rl;
}

#box-2 {
  color: antiquewhite;
  background-color: black;

  border-top: 3px red solid;
  border-left: 5px yellow dotted;
  border-right: 4px pink dashed;
  border-bottom: 6px brown groove;

  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 25px;

  /* do check out about border block and border inline properties */
}

#box-3 {
  /* Add the imgs folder click on revel in file explorer to reach out the folder and copy jpg image */
  background-image: url(./imgs/kar-ming-moo-Q_3WmguWgYg-unsplash.jpg);
  background-size: cover;
  color: antiquewhite;

  /* missing tiger face in pic */
  background-position: -300px -300px;
  /* tiger face in right side of the pic */
  background-position: -500px -300px;
  /* now tiger face in center */

  /* background-position: center center;  can be also used*/

  height: 200px;
  width: auto;

  /* This is bad way to place beacause when we move the page position is disturbed and the tiger face is not centered */

  /* background-size: contain; */
  /* background-repeat: no-repeat; */
}

#box-4 {
  background: url(./imgs/some_pattern.png) center center;
  background-size: 250px 250px;
  /* background-size: contain; */
  background-attachment: scroll;
  background-repeat: no-repeat;
}

/* while hovering on the property we get help open mdn refernce its very clear for background */

/* please update the daily css study for borders and background */
