#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  background: #f4f4f4;
  border: #ccc solid 1px;
  padding: 1rem;
  text-align: center;
  margin: 0.75rem;
  flex: 1;
}
.item:first-child {
  flex: 2;
}
.item:last-child {
  flex: 2;
}
